aiodns==3.0.0
aiohttp==3.7.0
aiohttp-socks==0.4.1
aiosignal==1.3.1
altair==4.2.2
asgiref==3.6.0
async-timeout==3.0.1
attrs==22.2.0
backoff==2.2.1
beautifulsoup4==4.11.2
blinker==1.5
bounded-pool-executor==0.0.3
branca==0.6.0
cachetools==5.3.0
cane==2.3.2
cchardet==2.1.7
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
contourpy==1.0.7
cryptography==40.0.1
cycler==0.11.0
Cython==0.29.33
dataclasses==0.6
decorator==5.1.1
distlib==0.3.6
Django==4.2.1
django-bootstrap-v5==1.0.11
elastic-transport==8.4.0
elasticsearch==8.6.2
entrypoints==0.4
fake-useragent==1.1.1
Faker==17.0.0
favicon==0.7.0
filelock==3.9.0
folium==0.14.0
fonttools==4.38.0
fpdf==1.7.2
frozenlist==1.3.3
geographiclib==2.0
geopy==2.3.0
gitdb==4.0.10
GitPython==3.1.31
googletransx==2.4.2
htbuilder==0.6.1
huggingface-hub==0.13.2
idna==3.4
importlib-metadata==6.0.0
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
kiwisolver==1.4.4
lxml==4.9.2
Markdown==3.4.1
markdown-it-py==2.2.0
markdownlit==0.0.5
MarkupSafe==2.1.2
matplotlib==3.7.0
mdurl==0.1.2
more-itertools==9.0.0
multidict==6.0.4
nltk==3.8.1
numpy==1.25.0.dev0+1037.g3e77f904a
openai==0.26.1
opencage==2.1.0
opencv-python==4.7.0.72
packaging==23.0
pandas==1.5.3
pdfminer.six==20221105
pdfplumber==0.8.0
phonenumbers==8.13.8
Pillow==9.4.0
platformdirs==2.6.2
pqdm==0.2.0
protobuf==3.20.3
py4j==0.10.9.7
pyarrow==11.0.0
pycares==4.3.0
pycparser==2.21
pydeck==0.8.0
Pygments==2.14.0
pymdown-extensions==9.9.2
Pympler==1.0.1
pyOpenSSL==23.1.1
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks==1.7.1
pyspark==3.4.0
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
python-socks==2.2.0
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
rich==13.3.1
schedule==1.1.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
semver==2.13.0
six==1.16.0
sklearn==0.0.post1
smmap==5.0.0
snscrape==0.6.1.20230314
soupsieve==2.4
sqlparse==0.4.4
st-annotated-text==3.0.0
streamlit==1.19.0
streamlit-aggrid==0.3.4
streamlit-awesome-table==0.1.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.4
streamlit-embedcode==0.1.2
streamlit-extras==0.2.6
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.3
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
textblob==0.17.1
threadpoolctl==3.1.0
tokenizers==0.13.2
toml==0.10.2
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
transformers==4.27.1
-e git+https://github.com/twintproject/twint.git@e7c8a0c764f6879188e5c21e25fb6f1f856a7221#egg=twint
typing_extensions==4.5.0
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.14
vaderSentiment==3.3.2
validators==0.20.0
virtualenv==20.17.1
Wand==0.6.11
watchdog==2.3.0
yarl==1.8.2
zipp==3.14.0
